<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
        name="Telerik.Reporting"
        type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=12.1.18.614, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"
        allowLocation="true"
        allowDefinition="Everywhere"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ida:Tenant" value="NETORG465099.onmicrosoft.com" />
    <add key="ida:ClientId" value="29137c98-cb12-4642-a0cf-4d96da1178e9" />
    <add key="ida:RedirectUri" value="https://TodoListClient" />
    <add key="todo:TodoListResourceId" value="https://NETORG465099.onmicrosoft.com/TodoListService" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="http://epi-login-service.azurewebsites.net/" />
    <!-- As Azure Storage Files are not supported on Azure Storage Emulator, you should have an Azure Subscription with access to Files preview. 
     Uncomment the string and insert your storage account name and key in the line below. See http://azure.microsoft.com/en-us/services/preview/ 
     to sign-up for on Azure Files Preview. -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=epilutionsstorage;AccountKey=Mxn2FdiiEpy3ryvF/q0pFlozPZiBPFKz3+WE55MVIC0ZfFxNWw31OmDxAwBtjGQI78DfJIHFvSRSTnhVg8ZYSA==;EndpointSuffix=core.windows.net" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1TrueDBGrid.4" publicKeyToken="75ae3fb0e2b1e0da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20151.38" newVersion="4.0.20151.38" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1List.4" publicKeyToken="6b24f8f981dbd7bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20151.38" newVersion="4.0.20151.38" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Input.4" publicKeyToken="7e7ff60f0c214f9a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20151.38" newVersion="4.0.20151.38" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Sizer.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20151.38" newVersion="4.0.20151.38" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Command.4" publicKeyToken="e808566f358766d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20151.38" newVersion="4.0.20151.38" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="5.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
    <gcServer enabled="true" />
  </runtime>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAPIWCFServices" receiveTimeout="00:25:00" sendTimeout="00:25:00" maxBufferPoolSize="2000000000" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
        </binding>
        <binding name="IncreasedTimeout" sendTimeout="01:00:00" />
        <binding name="BasicHttpBinding_IAPIWCFServices1" receiveTimeout="00:25:00" sendTimeout="00:25:00" maxBufferPoolSize="200000000000" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
        </binding>
        <binding name="ConnectivityPlatformSoap" />
        <binding name="EncryptedPasswordPortBinding">
          <security mode="TransportCredentialOnly">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="shipmentTrackingBinding">
          <security mode="Transport" />
        </binding>
        <binding name="shipmentTrackingBinding1" />
        <binding name="TQUOTEAPISOAP11Binding" />
        <binding name="BasicHttpBinding_IExternalAPIWCFServices" receiveTimeout="00:02:00" sendTimeout="00:02:00" maxBufferPoolSize="2000000000" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ConnectivityPlatformSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.8.1.10/TMWSystemsLink_Test/APIWCFServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAPIWCFServices" contract="TMW_API_WCFServices_Test.IAPIWCFServices" name="BasicHttpBinding_IAPIWCFServices" />
      <endpoint address="http://10.8.1.10/TMWSystemsLink/APIWCFServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAPIWCFServices1" contract="TMW_API_WCFServices.IAPIWCFServices" name="BasicHttpBinding_IAPIWCFServices1" />
      <endpoint address="http://ws.staging.banyantechnology.com/services/ConnectivityPlatform.asmx" binding="basicHttpBinding" bindingConfiguration="ConnectivityPlatformSoap" contract="Banyan_Service_Test.ConnectivityPlatformSoap" name="ConnectivityPlatformSoap" />
      <endpoint address="http://ws.staging.banyantechnology.com/services/ConnectivityPlatform.asmx" binding="customBinding" bindingConfiguration="ConnectivityPlatformSoap12" contract="Banyan_Service_Test.ConnectivityPlatformSoap" name="ConnectivityPlatformSoap12" />
      <endpoint address="https://webservices.averittexpress.com/EncryptedPasswordService" binding="basicHttpBinding" bindingConfiguration="EncryptedPasswordPortBinding" contract="EncryptedPasswordService.EncryptedPassword" name="EncryptedPasswordPort" />
      <endpoint address="https://www.estes-express.com/shipmenttracking/services/ShipmentTrackingService" binding="basicHttpBinding" bindingConfiguration="shipmentTrackingBinding" contract="EstesTrackShipments.trackingPort" name="shipmentTracking" />
      <endpoint address="http://10.8.1.30:10000/web/services/TQUOTEAPI" binding="basicHttpBinding" bindingConfiguration="TQUOTEAPISOAP11Binding" contract="TQuoteAPI.TQUOTEAPIPortType" name="TQUOTEAPISOAP11port_http" />
      <endpoint address="http://www.alstracking.com/TMWSystemsLinkExternal_TEST/ExternalAPIWCFServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternalAPIWCFServices" contract="TMW_External_API.IExternalAPIWCFServices" name="BasicHttpBinding_IExternalAPIWCFServices" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
  </system.webServer>
</configuration>
