body {
}

div .stopData {
    margin: 10px;
    border-bottom: 1px solid #000000;
}

::ng-deep .cdk-overlay-pane {
    /* Do you changes here */
    min-width: 450px;
}

.epi-button {
    color: #FFFFFF;
    background-color: #002E5E;
    margin: 5px;
    padding: 5px;
}